ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
h3{
  color: blueviolet;
}
.Example{
  color: aqua;
}
li[value="1"]{
color: yellow;
}
*.Example{
  color: brown;
}
#id
{
  color: black;
}
.note{
  font-size:20px ;
}
#id-selector-demo
{
  color: green;
}
li[value="4"]{
  color: blue;
}
*{
  text-align: center;
}