
.Profile > img{
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover;
    height: 100px;
    width: 100px;
}
.Summary > h1{
    border: 10px;
    background-color: lavender;
    padding: 10px;
}

h1{
    border: 10px;
    background-color: lavender;
    padding: 10px;
}